on:
  push:
    tags:
    - "v*"

jobs:
  build:
    runs-on: macos-10.15
    steps:
      - uses: actions/setup-node@master
        with:
          node-version: "14.x"
      - name: Set up Python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: 3.8



      - uses: actions/checkout@v2

      - name: Build Qode binary
        run: node build.js
        env:
          SYNC_GIT_SUBMODULE: 1

      - name: Compress files
        uses: master-atul/tar-action@v1.0.2
        with:
          command: c
          cwd: ./node/out/Release
          files: |
            ./qode
          outPath: qode-darwin-x64-${{github.event.release.tag_name}}.tar.gz



      - uses: actions/upload-artifact@v1
        with:
          name: qode-darwin-x64-${{github.event.release.tag_name}}.tar.gz
          path: qode-darwin-x64-${{github.event.release.tag_name}}.tar.gz
